*.md

sql/

# Ignore Node artifacts in rplugin/node/ssns-db
rplugin/node/ssns-db/node_modules/
rplugin/node/ssns-db/package-lock.json
*.json
nul

# User themes (custom themes created by user)
lua/ssns/ui/themes/user_themes/*

# User formatter presets (custom presets created by user)
lua/ssns/formatter/presets/user/*

tests/*